<!DOCTYPE html>
<html>
<head>
    <title>RND Page</title>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <strong>Quantor</strong>
        <button type="button">
            <a href="{{ url_for('index') }}" style="text-decoration: none; color: black;">Back</a>
        </button>
        <p>Log In</p>
        <p>Sign Up</p>
    </header>
    <hr>
        <form action="{{ url_for('rnd_routes.calc_z_score') }}" method="post">
        <fieldset>
            <legend><strong>Convert to a z-score (VaR quantile):</strong></legend>
            <label for="v">Value to convert (x):</label>
            <input type="number" id="v" name="v" step="any" required>
            <label for="mu">Your average (μ):</label>
            <input type="number" id="mu" name="mu" step="any" required>
            <label for="sig">Your dispersion (σ):</label>
            <input type="number" id="sig" name="sig" step="any" required>
            <button type="submit">Calculate</button><br>
            {% if z_score %}
                <p>The equivalent z-score of your value is <strong>{{z_score}}</strong></p>
            {% endif %}
	    </fieldset>
        </form>
        <br>
        <form action="{{ url_for('rnd_routes.calc_es_coeff') }}" method="post">
        <fieldset>
            <legend><strong>Find the expected coeff beyond VaR (ES coeff):</strong></legend>
            <label for="p">Confidence level (p):</label>
            <input type="number" id="p" name="p" step="any" required>
            <label for="mu">Your average (μ):</label>
            <input type="number" id="mu" name="mu" step="any" required>
            <label for="sig">Your dispersion (σ):</label>
            <input type="number" id="sig" name="sig" step="any" required>
            <button type="submit">Calculate</button><br>
            {% if es_c %}
                <p>Your ES coefficient is equal to <strong>{{es_c}}</strong></p>
            {% endif %}
	    </fieldset>
        </form>
    <hr>
        <form action="{{ url_for('rnd_routes.calc_std_norm_cdf') }}" method="post">
        <fieldset>
            <legend><strong>Standard normal CDF from a z-score:</strong></legend>
            <label for="z">z-score (z):</label>
            <input type="number" id="z" name="z" step="any" required>
            <button type="submit">Calculate</button><br>
            {% if p_std %}
                <p>The probability that your variable falls under z is <strong>{{p_std}}</strong> %</p>
            {% endif %}
	    </fieldset>
        </form>
        <br>
        <form action="{{ url_for('rnd_routes.calc_norm_cdf') }}" method="post">
        <fieldset>
            <legend><strong>Normal CDF from a z-score, a mean, and a std dev:</strong></legend>
            <label for="z">z-score (z):</label>
            <input type="number" id="z" name="z" step="any" required>
            <label for="mu">Your average (μ):</label>
            <input type="number" id="mu" name="mu" step="any" required>
            <label for="sig">Your dispersion (σ):</label>
            <input type="number" id="sig" name="sig" step="any" required>
            <button type="submit">Calculate</button><br>
            {% if p %}
                <p>The probability that your variable falls under z is <strong>{{p}}</strong> %</p>
            {% endif %}
	    </fieldset>
        </form>
    <hr>
        <form action="{{ url_for('rnd_routes.calc_std_inv_cdf') }}" method="post">
        <fieldset>
            <legend><strong>Find the standard normal z-score:</strong></legend>
            <label for="p">Your confidence level (p):</label>
            <input type="number" id="p" name="p" step="any" required>
            <button type="submit">Calculate</button><br>
            {% if z_std %}
                <p>The z-score that gives you this prob is <strong>{{z_std}}</strong></p>
            {% endif %}
	    </fieldset>
        </form>
    <br>
        <form action="{{ url_for('rnd_routes.calc_inv_cdf') }}" method="post">
        <fieldset>
            <legend><strong>Find the z-score from a CDF, a mean, and a std dev:</strong></legend>
            <label for="p">Your confidence level (p):</label>
            <input type="number" id="p" name="p" step="any" required>
            <label for="mu">Your average (μ):</label>
            <input type="number" id="mu" name="mu" step="any" required>
            <label for="sig">Your dispersion (σ):</label>
            <input type="number" id="sig" name="sig" step="any" required>
            <button type="submit">Calculate</button><br>
            {% if z %}
                <p>The z-score that gives you this prob is <strong>{{z}}</strong></p>
            {% endif %}
	    </fieldset>
        </form>
    <br>
        <a href="{{ url_for('rnd_routes.see_rnd_form_prob') }}">See formula details</a>
    <hr>
    <footer>
        <p>© 2026 Quantor. All rights reserved.</p>
    </footer>
</body>