<!DOCTYPE html>
<html>
<head>
    <title>TVM Formula Details</title>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" defer></script>
</head>
<body>
    <header>
        <strong>Quantor</strong>
        <button type="button">
            <a href="{{ url_for('index') }}" style="text-decoration: none; color: black;">Home</a>
        </button>
        <button type="button">
            <a href="{{ url_for('tvm_routes.tvm_formulas') }}" style="text-decoration: none; color: black;">Back</a>
        </button>
        <p>Log In</p>
        <p>Sign Up</p>
    </header>
    <hr>
    <h3>The Internal rate that gives a NPV of 0</h3>
    <p style="font-size: larger;">
        \[
        0 = -CF_0 + \frac{CF_1}{(1 + IRR)} + \frac{CF_2}{(1 + IRR)^2} + \cdots + \frac{CF_n}{(1 + IRR)^n}
        \]
    </p>
    <hr>
    <footer>
        <p>© 2026 Quantor. All rights reserved.</p>
    </footer>
</body>