<!DOCTYPE html>
<html>
<head>
    <title>TVM Page</title>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <strong>Quantor</strong>
        <button type="button">
            <a href="{{ url_for('index') }}" style="text-decoration: none; color: black;">Back</a>
        </button>
        <p>Log In</p>
        <p>Sign Up</p>
    </header>
    <hr>
        <form action="{{ url_for('tvm_routes.calc_simple_pv') }}" method="post">
        <fieldset>
            <legend><strong>Present Value of a Future Cash Flow:</strong></legend>
            <label for="fv">Cash Flow (CF):</label>
            <input type="number" id="fv" name="fv" step="any" required>
            <label for="r">Rate (r):</label>
            <input type="number" id="r" name="r" step="any" required>
            <label for="n">Periods (n):</label>
            <input type="number" id="n" name="n" step="any" required>
            <label for="type">Discounting Type:</label>
            <select name="type">
                <option value="linear">Linear Discounting</option>
                <option value="std_comp">Standard Compounding</option>
                <option value="cont_comp">Continuous Compounding</option>
            </select>
            <button type="submit">Calculate</button><br>
            {% if result_simple_pv %}
                <p>The present value of your cash flow is <strong>{{result_simple_pv}}</strong> $</p>
            {% endif %}
            <br>
            <a href="{{ url_for('tvm_routes.see_tvm_form_1') }}">See formula details</a>
	    </fieldset>
        </form>
    <hr>
        <form action="{{ url_for('tvm_routes.calc_simple_fv') }}" method="post">
        <fieldset>
            <legend><strong>Future Value of a Present Cash Flow:</strong></legend>
            <label for="pv">Cash Flow (CF):</label>
            <input type="number" id="pv" name="pv" step="any" required>
            <label for="r">Rate (r):</label>
            <input type="number" id="r" name="r" step="any" required>
            <label for="n">Periods (n):</label>
            <input type="number" id="n" name="n" step="any" required>
            <label for="type">Capitalisation Type:</label>
            <select name="type">
                <option value="linear">Linear Cap</option>
                <option value="std_cap">Standard Cap</option>
                <option value="cont_cap">Continuous Cap</option>
            </select>
            <button type="submit">Calculate</button><br>
            {% if result_simple_fv %}
                <p>The future value of your cash flow is <strong>{{result_simple_fv}}</strong> $</p>
            {% endif %}
            <br>
            <a href="{{ url_for('tvm_routes.see_tvm_form_2') }}">See formula details</a>
	    </fieldset>
        </form>
    <hr>
        <form action="{{ url_for('tvm_routes.calc_stand_annuity') }}" method="post">
        <fieldset>
            <legend><strong>Present Value of Annuities:</strong></legend>
            <label for="cf">Cash Flow (CF):</label>
            <input type="number" id="cf" name="cf" step="any" required>
            <label for="r">Rate (r):</label>
            <input type="number" id="r" name="r" step="any" required>
            <label for="n">Periods (n):</label>
            <input type="number" id="n" name="n" step="any" required>
            <label for="when">Timing (when):</label>
            <select name="when">
                <option value="end">End of period</option>
                <option value="begin">Beginning of period</option>
            </select>
            <button type="submit">Calculate</button><br>
            {% if result_ann_stand %}
                <p>The present value of your annuities is <strong>{{result_ann_stand}}</strong> $</p>
            {% endif %}
            <br>
            <a href="{{ url_for('tvm_routes.see_tvm_form_3') }}">See formula details</a>
	    </fieldset>
        </form>
    <hr>
        <form action="{{ url_for('tvm_routes.calc_fv_annuity') }}" method="post">
        <fieldset>
            <legend><strong>Future Value of Annuities:</strong></legend>
            <label for="cf">Cash Flow (CF):</label>
            <input type="number" id="cf" name="cf" step="any" required>
            <label for="r">Rate (r):</label>
            <input type="number" id="r" name="r" step="any" required>
            <label for="n">Periods (n):</label>
            <input type="number" id="n" name="n" step="any" required>
            <label for="when">Timing (when):</label>
            <select name="when">
                <option value="end">End of period</option>
                <option value="begin">Beginning of period</option>
            </select>
            <button type="submit">Calculate</button><br>
            {% if result_fv_ann %}
                <p>The future value of your annuities is <strong>{{result_fv_ann}}</strong> $</p>
            {% endif %}
            <br>
            <a href="{{ url_for('tvm_routes.see_tvm_form_4') }}">See formula details</a>
	    </fieldset>
        </form>
    <hr>
        <form action="{{ url_for('tvm_routes.calc_irr') }}" method="post">
        <fieldset>
            <legend><strong>Finding an IRR:</strong></legend>
            <label for="cf">Cash Flow (CF):</label>
            <input type="number" id="cf" name="cf" step="any" required>
            <label for="iv">Initial Investment (I):</label>
            <input type="number" id="iv" name="iv" step="any" required>
            <label for="n">Periods (n):</label>
            <input type="number" id="n" name="n" step="any" required>
            <button type="submit">Calculate</button><br>
            {% if result_irr is float %}
                <p>Your IRR is <strong>{{result_irr}}</strong> %</p>
            {% else %}
                <p>{{result_irr}}</p>
            {% endif %}
            <br>
            <a href="{{ url_for('tvm_routes.see_tvm_form_5') }}">See formula details</a>
	    </fieldset>
        </form>
    <hr>
        <form action="{{ url_for('tvm_routes.calc_pv_perp') }}" method="post">
        <fieldset>
            <legend><strong>Present Value of a Perpetuity:</strong></legend>
            <label for="cf">Cash Flow (CF):</label>
            <input type="number" id="cf" name="cf" step="any" required>
            <label for="r">Rate (r):</label>
            <input type="number" id="r" name="r" step="any" required>
            <button type="submit">Calculate</button><br>
            {% if result_pv_perp is float %}
                <p>The present value of your perpetuity is <strong>{{"{:,}".format(result_pv_perp)}}</strong> $</p>
            {% else %}
                <p>{{result_pv_perp}}</p>
            {% endif %}
            <br>
            <a href="{{ url_for('tvm_routes.see_tvm_form_6') }}">See formula details</a>
	    </fieldset>
        </form>
    <hr>
        <form action="{{ url_for('tvm_routes.calc_pv_grow_perp') }}" method="post">
        <fieldset>
            <legend><strong>Present Value of a Growing Perpetuity:</strong></legend>
            <label for="cf">Cash Flow (CF):</label>
            <input type="number" id="cf" name="cf" step="any" required>
            <label for="r">Rate (r):</label>
            <input type="number" id="r" name="r" step="any" required>
            <label for="g">Growth Rate (g):</label>
            <input type="number" id="g" name="g" step="any" required>
            <button type="submit">Calculate</button><br>
            {% if result_pv_grow_perp is float %}
                <p>The present value of your perpetuity is <strong>{{"{:,}".format(result_pv_grow_perp)}}</strong> $</p>
            {% else %}
                <p>{{result_pv_grow_perp}}</p>
            {% endif %}
            <br>
            <a href="{{ url_for('tvm_routes.see_tvm_form_7') }}">See formula details</a>
	    </fieldset>
        </form>
    <footer>
        <p>© 2026 Quantor. All rights reserved.</p>
    </footer>
</body>
</html>