<!DOCTYPE html>
<html>
<head>
    <title>RnD Formula Details</title>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" defer></script>
</head>
<body>
    <header>
        <strong>Quantor</strong>
        <button type="button">
            <a href="{{ url_for('index') }}" style="text-decoration: none; color: black;">Home</a>
        </button>
        <button type="button">
            <a href="{{ url_for('rnd_routes.prob_formulas') }}" style="text-decoration: none; color: black;">Back</a>
        </button>
        <p>Log In</p>
        <p>Sign Up</p>
    </header>
    <hr>
    <h3>Finding the standardized z-score</h3>
        <p style="font-size: larger;">
            \[
            z = \frac{x-\mu}{\sigma}
            \]
        </p>
    <hr>
    <h3>Finding the standard normal CDF</h3>
        <p style="font-size: larger;">
            \[
            \Phi(z)
            \;=\;
            P(Z \le z)
            \;=\;
            \int_{-\infty}^{z}
            \frac{1}{\sqrt{2\pi}}
            \,e^{-t^{2}/2}\,dt
            \]
        </p>
    <hr>
    <h3>Finding the normal CDF</h3>
        <p style="font-size: larger;">
            \[
            P(X \le x)
            \;=\;
            \Phi\!\left(\frac{x-\mu}{\sigma}\right)
            \]
        </p>
    <hr>
    <h3>Finding the standard normal z-score</h3>
        <p style="font-size: larger;">
            \[
            \Phi^{-1}(p)
            \;=\;
            \inf\{\,z \in \mathbb{R} \;:\; \Phi(z) \ge p \,\}
            \]
        </p>
    <hr>
    <h3>Finding the normal z-score</h3>
        <p style="font-size: larger;">
            \[
            F_X^{-1}(p)
            \;=\;
            \inf\{\,x \in \mathbb{R} \;:\; F_X(x) \ge p \,\}
            \]
        </p>
    <hr>
    <h3>Finding the ES Coefficient for a certain confidence level</h3>
        <p style="font-size: larger;">
            \[
            c_{\mathrm{ES}}(\alpha)
            =
            \frac{\phi\!\left(\Phi^{-1}(\alpha)\right)}{1-\alpha}
            \]
        </p>
    <hr>
    <footer>
        <p>© 2026 Quantor. All rights reserved.</p>
    </footer>
</body>